.title {
    position: relative;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: #4CAF50;
    margin: 0.4em;
}

.alt-login {
    margin-top: 30px;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.alt-login button {
    margin-top: 17em;
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    justify-content: space-around;
}

.registerMessage {
    margin-top: 18em;
    text-align: center;
}


.google {background-image: url("../icons/google.png");}
.google:hover{transform: scale(1.1);}
.facebook {background-image: url("../icons/facebook.png");}
.facebook:hover{transform: scale(1.1);}
