.alt-register {
    margin-top: 30px;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.alt-register button {
    margin-top: 17em;
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    justify-content: space-around;
}

.google {background-image: url("../icons/google.png");}
.google:hover{transform: scale(1.1);}
.facebook {background-image: url("../icons/facebook.png");}
.facebook:hover{transform: scale(1.1);}