.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.cover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vh;
    height: 85vh;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
}

.welcome {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #4CAF50;
}

.game-popup {
    position: absolute;
    top: 50%;
    left: 45%;
    border-radius: 0.25em;
    color: white;
    transform: scale(8);
    transition: 2s;
}

button {
    height: 3em;
    width: 7em;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
    align-items: center;
    border-radius: 0.25em;
    justify-content: center;
    background-color: rgb(32, 177, 255);
}

.links{
    text-decoration: none;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50%;
    position: absolute;
    left: 20%;
    bottom: 5%;
}

